{% extends 'layout.html' %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; padding-top: 10rem;">
        <div class="card" style="padding: 2rem; text-align: center;">
        <div class="card-body">
            <h5 class="card-title">Welcome to My App!</h5>
            <p class="card-text">Here you can add new records, delete existing records, and view all the records.</p>
            <a href="/all_records" class="btn btn-primary">All records</a>
        </div>
    </div>
    </div>
{% endblock %}